[Unit]
Description=ARP Client Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/arpc start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
